@{
    var conf NavTabList
}
<ul class="nav nav-pills">
    @for _,opt:=range conf.OptionList{
    <li
        @if opt.Name==conf.ActiveName{
            @:class="active"
        }
            >
        <a href="@opt.Url">@opt.Name</a>
    </li>
    }
</ul>